[Unit]
Description=Sample the lichess rating every 15 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
AccuracySec=1min
Persistent=true
Unit=sumofish-rating.service

[Install]
WantedBy=timers.target
